language: java
install: '[[ -v SONAR_TOKEN ]] || (>&2 echo "Not all travis secrets are set" && travis_terminate 1)'
addons:
  sonarcloud:
    organization: bakdata
    token: $SONAR_TOKEN
dist: xenial
jdk:
  - oraclejdk11
before_install:
  # extracts secrets
  - |
    [[ -v OSSRH_USERNAME ]] && [[ -v OSSRH_PASSWORD ]] || (>&2 echo "Not all ossrh secrets are set" && travis_terminate 1)
    [[ -v SIGNING_KEY_ID ]] && [[ -v SIGNING_PASSWORD ]] && [[ -v SIGNING_SECRET_KEY_RING ]] || (>&2 echo "Not all signing secrets are set" && travis_terminate 1)
    [[ -v GITHUB_DEPLOY_SSH_KEY ]] || (>&2 echo "Missing github deploy key" && travis_terminate 1)
    [[ -v GITHUB_TOKEN ]] || (>&2 echo "Missing github token" && travis_terminate 1)
    mkdir -p .secrets
    base64 --decode <<< $GITHUB_DEPLOY_SSH_KEY > .secrets/deploy-key
    base64 --decode <<< $SIGNING_SECRET_KEY_RING > .secrets/pgp-keyring
    export SIGNING_SECRET_KEY_RING_FILE=$(pwd)/.secrets/pgp-keyring
matrix:
  include:
    - stage: build
      script:
        - ./gradlew sign
        - ./gradlew sonarqube

    - stage: deploy
      name: upload snapshot
      if: branch = master AND tag IS blank AND type = push
      script:
        - ./gradlew publishToNexus --stacktrace

    - stage: deploy
      name: release new version
      if: branch = master AND type = api AND env(release) IS present
      before_script:
        - version=$(travis/get_version.sh $release || travis_terminate 1)
        - travis/setup_deploy_key.sh
        - travis/prepare_git_for_bot.sh
      script:
        - ./gradlew generateChangelog -Pchangelog.releaseVersion=${version} || travis_terminate 1
        - git add CHANGELOG.md && git commit -m "Changelog for version ${version}" && git push || travis_terminate 1
        - ./gradlew release -Prelease.useAutomaticVersion=true -Prelease.releaseVersion=${version} -Prelease.failOnUnversionedFiles=false --stacktrace

    - stage: deploy
      name: upload tagged release
      if: tag =~ ^\d+\.\d+\.\d+$
      script:
        - ./gradlew publishToNexus closeAndReleaseRepository -x test --stacktrace
      deploy:
        provider: releases
        api_key: ${GITHUB_TOKEN}
        file_glob: true
        file: "**/build/libs/*.jar"
        name: "Release ${TRAVIS_TAG}"
        skip_cleanup: true
        on:
          tags: true
      after_deploy:
        - travis/github_release.sh
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - "$HOME/.m2/repository"
    - "$HOME/.sonar/cache"
    - "$HOME/.gradle/caches/"
    - "$HOME/.gradle/wrapper/"
    - ".gradle"
